##
# Lychez : Image database (https://lychez.luvirx.io)
# Copyright (c) luvirx (https://luvirx.io)
#
# Licensed under The MIT License
# For the full copyright and license information, please see the LICENSE.md
# Redistributions of the files must retain the above copyright notice.
#
# @link 		https://lychez.luvirx.io Lychez Project
# @copyright 	Copyright (c) 2016 luvirx (https://luvirx.io)
# @license		https://opensource.org/licenses/mit-license.php MIT License
##

# Handles all url based things.
#
# Rewrites the url that all requests go throught the index.php. It also prevents the server from disposing unwanted data in the filesystem.
# Furter it throws custom exceptions, if an error occured.

# Changes the request to always pass the index.php file instead.
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php [PT,L]

# Prevent showing unwanted data in filesytem
Options -Indexes

# Custom error documents
ErrorDocument 400 /index.php
ErrorDocument 401 /index.php
ErrorDocument 403 /views/templates/errors/403.php
ErrorDocument 404 /views/templates/errors/404.php
ErrorDocument 500 /index.php